.type-container {
  --_shadow: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: var(--background);
  z-index: 2;
  border: 2px solid var(--background-inverse);
  border-radius: 10px;
  padding: 0.5rem;
  filter: drop-shadow(
    var(--_shadow) var(--_shadow) calc(0.5 * var(--_shadow)) rgba(0, 0, 0, 0.6)
  );

  a {
    border: 1px solid transparent;
    border-radius: 12px;

    &:hover {
      border: 1px solid;
    }
  }

  @media screen and (min-width: 768px) {
    top: 64px;
    width: 50rem;
  }
}

h2 button {
  min-width: 20px;
  margin-left: 4px;
  vertical-align: middle;
}

.type-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  overflow: hidden;

  h2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.nav-link {
  color: #fac000;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}

.type-modal {
  border: none;
  background-color: transparent;
  color: var(--background-inverse);
  transition: scale 0.2s ease;
}

/** SEARCH COMPONENT */

label {
  font-size: 1.2rem;
  width: 70%;
}

.search-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.search-list {
  border: 2px solid var(--background-inverse);
  border-radius: 15px;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--background-inverse);
  border-radius: 10px;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  &:hover {
    border: var(--link-color-hover) 1px solid;
    transform: translateY(-6px) scale(1.05);
    transform-box: view-box;
    image-rendering: pixelated;
  }
}

.sprite-search {
  background-color: #eee;
  border: 1px solid var(--background-inverse);
  border-radius: 50%;
}

#search-input {
  padding: 0.5em;
  border-radius: 10px;
  width: 100%;
  border: 2px solid var(--background-inverse);
  background-color: var(--background);
  color: var(--background-inverse);
}

#search-input:focus {
  border: 3px solid #fac000;
  outline: none;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
