.pokemon-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: var(--_background, rgb(237, 246, 120));
  border-radius: 5%;
  border: 10px solid var(--_border, #bfc200);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  padding-top: 3em;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    margin-bottom: 0.25rem;
    margin-top: 0px;
    font-size: 24pt;
    color: var(--_color, #4a4a4a);
  }

  img {
    --_size: 200px;
    width: var(--_size);
    height: var(--_size);
    object-fit: cover;
    border-radius: 0.625rem;
  }

  p {
    font-size: 14pt;
    color: var(--_color, #4a4a4a);
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: black;
  }
}

#type-button {
  display: flex;
  gap: 1em;
  margin-top: 10px;

  p {
    margin: 0;
    margin-top: 0.25rem;
    font-size: 11pt;
    text-align: center;
  }
}

.type {
  max-width: 30px;
  max-height: 30px;
}

.button-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
}
