.search-by {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.toogle-btn {
  background-color: var(--background-inverse);
  border: 1 px solid var(--background);
  box-shadow: 1px 1px 3px var(--shadow-color);
  border-radius: 99px;
  min-width: 90px;
  height: 25px;
  color: var(--background);
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

.toogle-btn .thumb {
  --_size: 1rem;
  background-color: var(--link-color);
  border: 1px solid var(--background);
  border-radius: 50%;
  width: var(--_size);
  height: var(--_size);
  display: inline-block;
  transition: left 0.25s ease;
  transform: translateX(0);
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}


.toogle-btn.toogled .thumb {
  left: calc(70px);

}

@media screen and (max-width: 450px) {
  .search-by {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
