@font-face {
  font-family: "SF Pixelate";
  src: url("./assets/fonts/SFPixelate.ttf") format("truetype");
}

@font-face {
  font-family: "Futura T OT";
  src: url("./assets/fonts/Futura_T_OT_Demi.ttf") format("truetype");
}

:root {
  --color-black: #1d1d1d;
  --color-white: #fefefe;
}

body {
  font-family: "SF Pixelate";

  button {
    font-family: "SF Pixelate";
  }

  main {
    --_padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: var(--_padding-bottom);
    min-height: calc(100vh - var(--_padding-bottom));
  }

  nav {
    font-family: "Futura T OT", sans-serif;
    margin-bottom: 2rem;
    padding: 1rem;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
    }

    button {
      font-family: "Futura T OT", sans-serif;
    }
  }

  nav + h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.dark {
  background-color: var(--color-black);
  --background: var(--color-black);
  --background-inverse: var(--color-white);
  color: var(--color-white);
  --shadow-color: #eee;

  nav a {
    color: #fac000;
  }
}

.light {
  background-color: var(--color-white);
  --background: var(--color-white);
  --background-inverse: var(--color-black);
  color: var(--color-black);
  --shadow-color: var(--color-black);
}
