@font-face {
  font-family: "SF Pixelate";
  src: url("./assets/fonts/SFPixelate.ttf") format("truetype");
}

@font-face {
  font-family: "Futura T OT";
  src: url("./assets/fonts/Futura_T_OT_Demi.ttf") format("truetype");
}

:root {
  --color-black: #1d1d1d;
  --color-white: #fefefe;
}

body {
  font-family: "SF Pixelate";

  button {
    font-family: "SF Pixelate";
  }

  main {
    --_padding-bottom: 2rem;
    --_padding-sides: 1.5rem;
    padding-left: var(--_padding-sides);
    padding-right: var(--_padding-sides);
    padding-bottom: var(--_padding-bottom);
    min-height: calc(100vh - var(--_padding-bottom));
    background-color: var(--background);
    color: var(--background-inverse);
  }

  nav a,
  .search-result {
    color: var(--link-color);

    &:hover {
      color: var(--link-color-hover);
    }
  }

  input {
    font-family: "SF Pixelate";
  }

  nav {
    font-family: "Futura T OT", sans-serif;
    margin-bottom: 2rem;
    padding: 1rem;
    max-height: 3rem;
    font-weight: bold;

    .menu-btn {
      background-color: var(--background-inverse);
      color: var(--background);
      border: none;
      border-radius: 8px;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      margin: auto;
    }

    .menu-svg {
      transition: transform 0.25s ease;
      &.open {
        transform: scaleY(-1);
      }
    }

    @media screen and (max-width: 768px) {
      #menu {
        --_padding: 16px;
        position: absolute;
        top: 3.5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        background-color: var(--background);
        color: var(--link-color);
        border-radius: 12px;
        padding: var(--_padding) calc(var(--_padding) * 1.1);
        min-width: 60%;

        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }

    .nav-link {
      font-size: 1.4em;
      font-weight: bold;

      &:focus {
        color: var(--link-color-hover);
      }
    }

    label {
      display: flex;
      flex-direction: column;
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      gap: 2rem;

      .lucide {
        vertical-align: top;
      }
    }

    button {
      font-family: "Futura T OT", sans-serif;
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      ul {
        flex-direction: column;
        align-items: center;
      }

      .nav-link {
        font-size: 1em;
      }
    }
  }

  nav + h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  table * {
    border-color: var(--background-inverse);
  }

  th {
    background-color: var(--background-inverse);
    color: var(--background);
  }

  th,
  .total > td {
    font-size: 16pt;
    font-weight: 600;
  }

  td {
    font-size: 14pt;
  }
}

select,
option {
  font-family: "Futura T OT", sans-serif;
  font-weight: 400;
  font-size: 11pt;
}

.dark {
  --background: var(--color-black);
  background-color: var(--background);
  --background-inverse: var(--color-white);
  --shadow-color: #eee;
  --link-color: #fac000;
  --link-color-hover: #f5a400;

  .type-nav {
    color: var(--link-color);
    font-weight: bold;
  }
}

.light {
  --background: var(--color-white);
  background-color: var(--background);
  --background-inverse: var(--color-black);
  --shadow-color: var(--color-black);
  --link-color: #0000ee;
  --link-color-hover: #551a8b;

  tr:hover td {
    color: var(--background);
  }

  .type-nav {
    color: var(--link-color);
    font-weight: bold;
  }
}

.light-dark {
  --_size: 3rem;
  width: var(--_size);
  height: var(--_size);
  border-radius: calc(var(--_size) / 2);
  padding: 10px;
  border: 2px solid var(--background-inverse);
  background-color: var(--background);
  color: var(--background-inverse);
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--link-color);
  }
}

/* Style de base pour le conteneur du select */
.styled-select {
  --_padding: 4px;
  padding: var(--_padding) calc(var(--_padding) * 2);
  border: 1px solid var(--link-color);
  border-radius: 6px;
  background-color: var(--color-white);
  width: calc(74px + var(--_padding) * 4 + 2px);
  cursor: pointer;
}

@media screen and (width > 750px) {
  label:has(.styled-select) {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
