.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  p + img {
    filter: drop-shadow(4px 4px 1px var(--shadow-color, black));
  }

  a {
    color: var(--link-color);

    &:hover {
      color: var(--link-color-hover);
    }
  }
}

.detail-title {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 0;

  & + p {
    margin-top: 1rem;
    font-size: 16pt;
    margin-bottom: 2rem;
  }
}

.type {
  max-width: 30px;
  max-height: 30px;
}

.sprite {
  background-color: #eee;
  border: 1px solid var(--background-inverse);
  border-radius: 50%;
}

.type-button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 150px;
  margin-bottom: 0.5rem;
}

.button-type {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.evolutions-container {
  margin-top: 2rem;
  gap: 2rem;

  div {
    margin-bottom: 0.75rem;

    h2 {
      margin-bottom: 6px;
      text-align: center;
      user-select: none;

      /** On peut ajouter du contenu avant ou après un élément avec les pseudo-classes "::before" et "::after" */
      &::after {
        content: " :";
      }
    }

    a {
      display: block;
      text-align: center;
      margin-bottom: 0.25rem;

      span {
        font-size: 14pt;
      }
    }
  }
}

span {
  &.great {
    color: green;
  }

  &.normal {
    color: orange;
  }

  &.low {
    color: red;
  }
}

@media screen and (max-width: 768px) {
  .portrait {
    width: 320px;
    height: 320px;
  }
}
